<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>My Personal API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          </br>

          <!-- New Snippet form -->
          <form class="form" id="newSnippetForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="title">Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Nickname for your code">
                </div>
                <div class="form-group">
                  <label for="title">Author</label>
                  <input type="text" class="form-control" name="author" placeholder="Enter Github User ID">
                </div>
                <div class="form-group">
                  <label for="title">Language</label>
                  <input type="text" class="form-control" name="language" placeholder="HTML, CSS, Javascript, etc.">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="title">Code</label>
                  <input type="text" id="code-snippet-input" class="form-control" name="code" placeholder="Paste Code Here">
                </div>
              </div>
            </div>
            <div class="row submit-button">
              <button type="submit" class="btn btn-default">Create Snippet</button>
            </div>
          </form><!-- Close the create form -->

          </br>
          <h2> My Snippets</h2>
          <div id='snippetTarget'>
            <!-- handlebars template -->
            <script id="snippets-template" type="text/x-handlebars-template">
              {{#each snippets}}
                <hr>
                <div class="snip-delete"><button type="button" name="button" class="deleteBtn-Snippet btn btn-danger pull-right" snippet-data-id={{_id}}>Delete</button></div>
                <div class="snippet-info">
                  <h4><b>{{name}}</b><b> by: </b><b>{{author}}</b></h4>
                  <p>Language: <b>{{language}}</b></p>
                  <p>{{code}}</p>
                </div>
              {{/each}}
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
