body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.submit-button {
  text-align: center;
}

#code-snippet-input {
  width: 500px;
  height: 200px;
}

code {
  text-align: left;
}
